.git
**/.git
**/node_modules
**/dist
**/build
**/.DS_Store
.env
.claude
webm
wordle-data
go/files
go/odir
go/db/*.db*
go/server
go/tmp
go/build-errors.log
go/.air.toml
go/static/js
go/static/react
submodules/sokodle
