.DS_Store
.claude/
/cnqso-web-server.service
/webm/
/wordle-data/
/go/server
/go/db/*.db*
/go/odir/
/go/static/js/*
/go/static/petrarchive/*
/go/static/react/*
/submodules/*/dist/
/submodules/*/.gitignore
/submodules/*/node_modules/
/go/files/
/node_modules/
/.env
__pycache__/
