[Unit]
Description=cnqso.com web server
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/cnqso-web
Environment="PATH=/snap/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/bin/cnqso-web-compose up
ExecReload=/usr/local/bin/cnqso-web-compose up
ExecStop=/usr/local/bin/cnqso-web-compose down
TimeoutStartSec=600
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
