<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>/Public/OpenDirectory/Papers</title>
        <link rel="stylesheet" href="/static/css/open-directory.css" />
    </head>
    <body>
        <main>
            <p class="path">CNQSO.COM/Public/OpenDirectory/Papers/</p>
            <p><a href="/odir/">../</a></p>
            <ul class="directory">
                {{range .Documents}}
                <li><a href="{{.URL}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </main>
    </body>
</html>
